* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #eed4d4;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.card-text h1 {
    margin-top: 10px;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn-whatsapp {
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    color: #000;
    text-align: center;
    width: 100px;
}

.btn-facebook {
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    color: #000;
    text-align: center;
    width: 100px;
}

.btn-instagram {
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    color: #000;
    text-align: center;
    width: 100px;
}

.btn-linkedin {
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    color: #000;
    text-align: center;
    width: 100px;
}
