* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #eed4d4;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.card-text h1 {
    margin-top: 10px;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.social-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    gap: 12px;
    
}
.btn-whatsapp {
    background-color: white;
    color: #000;
}
.btn-facebook {
    background-color: white;
    color: #000;
}

.btn-instagram {
    background-color: white;
    color: #000;
}

.btn-linkedin {
    background-color: white;
    color: #000;
}